<!doctype html>
<html lang="en">
  <head>
    <title>Recommend me games!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Recommender system for Board Game Geek users">
    <meta name="author" content="Timothy Tan">

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bgg_input.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109852663-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109852663-1');
    </script>


  </head>
  
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">BoardGames-O-Matic</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/home">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">

            <form action="/result" method="POST">

              <h1 class="cover-heading">Which games to try next?</h1>
              <p>There will be 3 lists generated so be sure to scroll down each list and rate each one to continue. The last list might take awhile to appear.</p>
              
              <input type="hidden" name="algo" value="{{ algo }}"/>
              <input class="form-control form-control-lg" type="text" id="lgFormGroupInput" name="user" placeholder="Case-sensitive BGG username" required="true" />
              
            <p class="lead">
              <p><input class="btn btn-lg btn-secondary" type="submit" value="show me!" /></p>
              <p class="lead">*Data available only for users that have rated 10 or more games on <a href="https://boardgamegeek.com">BoardGameGeek.com</a>.
              Collected data is accurate as of 13th October 2017.</p>
            </p>
            </form>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Created by <a href="https://boardgamegeek.com/user/passthedynamite">Timothy Tan</a>. All rights reserved.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>