<!doctype html>
<html lang="en">
  <head>
    <title>Recommend me games!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Recommender system for Board Game Geek users">
    <meta name="author" content="Timothy Tan">

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bgg_results.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109852663-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109852663-1');
    </script>


  </head>
  
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">BoardGames-O-Matic</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link active" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">What's this about?</h1>
            <p class="lead">Hi! My name is Timothy and I'm currently attending a Data Science Course conducted by General Assembly.</p>
              <p class='lead'>As part of course requirements, I have chosen to build a Recommender system based on Board Game Geek data for my capstone project.</p>
              <p class='lead'> This simple web app analyzes a BGG user's past ratings and provides 3 lists of 20 games recommended based on how they've rated games in the past.</p>
              <p class='lead'> Assuming you've rated at least 10 games on the site, just enter your username (not your real name), and the algorithms will spit out your recommendations.</p>
              <p class='lead'> Do note that the recommendations were calculated based on data that is one month old and thus your list might contain games that you've already rated since the data was obtained.
              <h4> One last thing </h4>
              <p class='lead'> I would greatly appreciate if you could indicate by clicking on the buttons at the bottom of your list of games whether you thought the list was accurate and useful for you. </p>
             <p class='lead'>It would be nice if you could also leave a comment from where you got here (Facebook, BGG forum, etc.) or a feedback via the contact link up top.</p>
             <h4> Thanks a bunch! </h4>
          </main>
          <footer class="mastfoot">
            <div class="inner">
              <p>Created by <a href="http://thedataconnoisseur.com">Timothy Tan</a>. All rights reserved.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>